@font-face {
    font-family: Hanken Groteski;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    src: url(assets/fonts/static/HankenGrotesk-Medium.ttf);
    src: url(assets/fonts/static/HankenGrotesk-Bold.ttf);
    src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}
:root{
    /*Primary*/
    --Light_red: hsl(0, 100%, 67%);
    --Orangey_yellow: hsl(39, 100%, 56%);
    --Green_teal: hsl(166, 100%, 37%);
    --Cobalt_blue: hsl(234, 85%, 45%);

    /*Gradient*/
    --Light_slate_blue: hsl(252, 100%, 67%);
    --Light_royal_blue: hsl(241, 81%, 54%);
    --Violet_blue: hsla(256, 72%, 46%, 1);
    --Persian_blue: hsla(241, 72%, 46%, 0);

    /*Neutral*/
     --White: hsl(0, 0%, 100%);
     --Pale_blue: hsl(221, 100%, 96%);
     --Light_lavender: hsl(241, 100%, 89%);
     --Dark_gray_blue: hsl(224, 30%, 27%);
}

body{
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    display: flex;
    min-height: 100vh;
    font-family: Hanken Grotesk;
}
main{
    margin-top:13em;
    background-color: var(--White);
    width: 34em;
    border-radius: 1.5em;
    display: flex;
    min-height: 25em;
    box-shadow: 0 6px 20px 0 rgba(6, 78, 126, 0.2);
}
#section_left{
    width: 50%;
    border-radius: 1.5em;
    background-image: linear-gradient(var(--Light_slate_blue), var(--Light_royal_blue));
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#section_right{
    width: 50%;
    display: grid; 
}

#category_info{
    margin: 0 1.8em;
}

h4{
    color: var(--Dark_gray_blue);
    font-size: 1.2em;
}

.category_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    font-weight: 500;
}
#category{
    width: 90%;
    border-radius: 0.4em;
    padding: 0.7em;  
}

.category_content span{
    display: flex;
    float: right;
    color: black;
    font-weight: 700;
}
#numbers{
    color: var(--Dark_gray_blue);
}
#category:first-child{
    background-color: hsla(0, 100%, 67%, 0.1);
    color: var(--Light_red);
}
#category:nth-child(2){
    background-color: hsla(39, 100%, 56%, 0.1);
    color: var(--Orangey_yellow);
}
#category:nth-child(3){
    background-color: hsla(166, 100%, 37%, 0.1);
    color: var(--Green_teal);
}
#category:nth-child(4){
    background-color: hsla(234, 85%, 45%, 0.1);
    color: var(--Cobalt_blue);
}
#category img{
    width: 9%;
    padding-right: 0.3em;
}
#icon{
    display: flex;
}
button{
    margin-top: 2.4em;
    color: white;
    background-color: var(--Dark_gray_blue);
    width: 100%;
    padding: 1em;
    border-radius: 2em;
    border-style: none;
    cursor: pointer;
    font-family:Hanken Grotesk;
}
button:active{
    background-image: linear-gradient(var(--Light_slate_blue), var(--Light_royal_blue));
}
h3{
    font-size: 1.2em;
    color: var(--Pale_blue);
}

#result_display{
    border-radius: 50%;
    justify-self: center;
    min-width: 40%;
    padding: 1.8em;
    background-image:linear-gradient(var(--Violet_blue), var(--Persian_blue));
    flex-direction: column;
}

#result_score{
    color: var(--White);
    font-size: 3em;
    font-weight: 800;
    font-family:Hanken Grotesk;
}
#result_score_overall{
    color: hsla(0, 0%, 100%, 0.5);

}
h2{
    color: var(--White);
}
p{
    color: var(--White);
    font-size: 1em;
    justify-self: center;
    margin-bottom: 2em;
    padding: 0 1.5em;
}
#result_text{
    margin: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width :375px) {
    main{
        margin-top: 0;
        display: inline;
        width: 100%;
        height: 100vh;
        border-radius: 0; 
    }
    #section_left{
        width: 100%;
        border-radius:0 0 1.8em 1.8em;
        background-image: linear-gradient(var(--Light_slate_blue), var(--Light_royal_blue));
        display: grid;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #section_right{
        width: 100%;
        display: grid;
    }
    button{
        margin-top: 1.4em;
        padding: 0.8em;
        font-size: 1.2em;
        font-weight: 600;
    }
   p{
        padding: 0 1.5em;
    }

    #result_display{
        min-width: 30%;
        padding: 1.3em;
    }
    
    #result_score{
        font-size: 3.3em;
        font-weight: 800;
    }
    .attribution{
        font-size: 0;
    }
}